---
layout: default
---

<main>
    <article class="h-entry">
        <div class="page-wrapper">
            <div class="page-content">
                {% include page-author.html %}
        
                <div class="e-content">
                  {{ content }}
                </div>
        
                {% if page.share %}
                  {% include social-share.html %}
                {% endif %}
        
                {% if site.disqus.shortname %}
                  {% include disqus-comments.html %}
                {% endif %}
        
                {% include page-pagination.html %}
              </div>
        </div>
    </article>
</main>